Reverse a given list in Python

In [ ]:
aLsit = [100, 200, 300, 400, 500]
aLsit.reverse()
print(aLsit)

[500, 400, 300, 200, 100]

Concatenate two lists index-wise

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]
for i in range(len(list1)):
  list3.append(list1[i]+list2[i])
print(list3)

['My', 'name', 'is', 'Kelly']

(or)

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
x=[i+j for i,j in zip(list1,list2)]
print(x)

['My', 'name', 'is', 'Kelly']

Given a Python list of numbers. Turn every item of a list into its square

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]
print([x*x for x in aList])

[1, 4, 9, 16, 25, 36, 49]

Concatenate two lists in the following order

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
  for j in list2:
    list3.append(i+j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

(or)

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[x+y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=map(lambda x, y: x + y, list1, list2)//this cannot give all combinations
print(list(list3))

['Hello Dear', 'take Sir']

Given a two Python list. Iterate both lists simultaneously such that list1 should display item in
original order and list2 in reverse order

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list3=zip(list1,list2[::-1])
for i in list3:
  x,y = i
  print(x,y)

10 400
20 300
30 200
40 100

Remove empty strings from the list of strings

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1=[i for i in list1 if i]
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

Add item 7000 after 6000 in the following Python List

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update
the first occurrence of a value

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
  if list1[i]==20:
    list1[i]=200
    break
list1

[5, 10, 15, 200, 25, 50, 20]

Given a Python list, remove all occurrence of 20 from the list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list1=[x for x in list1 if x!=20]
print(list1)

[5, 15, 25, 50]

TUPLES

Reverse the following tuple

In [ ]:

aTuple= (10, 20, 30, 40, 50)
aTuple=aTuple[::-1]
print(aTuple)

(50, 40, 30, 20, 10)

Access value 20 from the following tuple

In [ ]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

Create a tuple with single item 50

In [ ]:
a=(50,)
print(a)

(50,)

Unpack the following tuple into 4 variables

In [ ]:
aTuple = (10, 20, 30, 40)
for x in aTuple:
  print(x)

10
20
30
40

Swap the following two tuples

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
a,b=tuple1
c,d=tuple2
tuple1=(c,d)
tuple2=(a,b)
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

Copy element 44 and 55 from the following tuple into a new tuple

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
a,b,c,d,e,f=tuple1
tuple2=(d,e)
print(tuple2)

(44, 55)

Modify the first item (22) of a list inside a following tuple to 222

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
a,b,c,d=tuple1
b[0]=222
tuple1=(a,b,c,d)
print(tuple1)

(11, [222, 33], 44, 55)

Counts the number of occurrences of item 50 from a tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
c=0
for i in tuple1:
  if i==50:
    c+=1
print(c)

2

SETS

Return a new set of identical items from a given two set

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

Returns a new set with all items from both sets by removing duplicates

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

Given two Python sets, update the first set with items that exist only in the first set and not in the
second set.

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference(set2)

{10, 30}

Remove items 10, 20, 30 from the following set at once

In [ ]:
set1 = {10, 20, 30, 40, 50}
l=[10,20,30]
set={x for x in set1 if x not in l}
print(set)

{40, 50}

Return a set of all elements in either A or B, but not both

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
(set1.union(set2)).difference(set1.intersection(set2))

{10, 20, 60, 70}

Remove items from set1 that are not common to both set1 and set2

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1={x for x in set1 if x  in set2}
print(set1)

{40, 50, 30}

DICTIONARIES

Merge following two Python dictionaries into one

In [ ]:

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Access the value of key ‘history’ from the below dict

In [ ]:
sampleDict = {
"class":{
"student":{
"name":"Mike",
"marks":{
"physics":70,
"history":80
}
}
}
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

Create a new dictionary by extracting the following keys from a below dictionary

In [ ]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
print(sampleDict["name"],sampleDict["salary"])

Kelly 8000

Check if a value 200 exists in a dictionary

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())

True

Get the key of a minimum value from the following dictionary

In [ ]:
sampleDict = {
'Physics': 82,
'Math': 65,
'history': 75
}
m=min(sampleDict.values())
for x in sampleDict:
   if sampleDict[x]==m :
     print(x)

Math